*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    /* border:2px solid black; */
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    /* border:2px solid red;   */
}
.background{
    display: flex;
     align-items: center;
     flex-direction: column;
     height:96vh;
     /* border: 2px solid blue; */
     width:100%;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-image: url("https://image.tmdb.org/t/p/original/kasyivIQ3RzQqMqlYn83MSQgJy4.jpg");
}
.background-blur{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:96vh;
    background-color: rgba(0, 0, 0, 0.532);
    width:100%;   
}
.navbar{
    background-color: rgba(31, 39, 48, 0.453);
    width:100%;
    display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   color:rgb(240, 127, 29);
}
.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-left: 2%;
}
.nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 4%;
}
.nav1 h1{
    font-size: 28px;
   color:rgb(248, 130, 59);
}
.nav1 i{
    font-size: 28px;
    
   color: rgb(248, 130, 59);
}
.main-page{
    width:90%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:white;
    margin-left: 4%;
    margin-right: 4%;
    gap:30px;
}
.main-page h1{
   font-size: 70px;
   font-weight: 500;
}
.main-page p{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
.nav2 button{
    padding: 10px;
    cursor: pointer;
    background-image: linear-gradient(rgb(255, 162, 56),rgb(237, 84, 63));
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 700;
}
.search{
    /* border:2px solid red; */
    width:50%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search input{
    width:80%;
   outline: none;
   border: none;
    padding: 14px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    font-size: 16px;

}
.search button{
    width:20%;
    border: none;
    padding: 14px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    background-image:linear-gradient(rgb(255, 162, 56),rgb(252, 68, 44));
    color:white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.cards{
    /* border: 2px solid red; */
   width:100%;
   display: flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
   background-color: rgb(4, 21, 45);
  color: white;
   /* color:rgb(248, 130, 59) */
}
.cards1{
    /* border: 2px solid red; */
   width:100%;
   display: flex;
   justify-content: center;
   align-items:center;
   flex-direction: column;
   background-color: rgb(4, 21, 45);
  color:  white;

}
.heading{
    width:100%;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;  
}
.cards h1{
    margin-left: 10%;
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
    text-transform: capitalize;
}
.cards1 h1{
    margin-left: 10%;
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
}
.card{
    /* border: 2px solid green; */
    max-width: 1300px;
    width:100%;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 30px;
}
.cardi{
    /* border: 2px solid green; */
    max-width: 1300px;
    width:100%;
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:30px;
    margin-top: 30px;
}
.card1{
    width:250px;
    height:450px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap:10px;

}

.p1{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap:5px;
    text-transform: capitalize;
}
.card1 img{
    width:100%;
    height: 80%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.footer{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    padding: 10px;
    background-color: rgb(2, 12, 27);
    gap:30px;
    height:80px
}
.footer i{
    color:white;
    font-size: 30px;
    cursor: pointer;
    padding: 5px;
}
.footer i:hover{
   border-bottom: 2px solid white;
   color:rgb(248, 130, 59)
}
@media(max-width:841px){
  .main-page{
    width:100%;
  }
  .search{
    width:100%;
    margin-left: 0;
    margin-right: 0;}
  .search input{
    width: 60%;
  }
  .search button{
    width: 30%;
  }
}
@media(max-width:439px){
    .main-page h1{
        font-size: 50px;
        font-weight: 500;
     }
     .main-page p{
         font-size: 16px;
         font-weight: 500;
         text-align: center;
     } 
     .nav1 h1{
        font-size: 20px;}
    .nav2 button{
        font-size: 15px;
    }
}