*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
  }
  .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    /* border:2px solid black; */
}
body{
    background-color:rgb(4, 21, 45);;
}
.main-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    /* border:2px solid red;   */
}
.background{
    display: flex;
     align-items: center;
     flex-direction: column;
     height:100vh;
     /* border: 2px solid blue; */
     width:100%;
     /* background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     background-image: url("https://image.tmdb.org/t/p/original/kasyivIQ3RzQqMqlYn83MSQgJy4.jpg"); */
}
.background-blur{
    display: flex;
    align-items: center;
    flex-direction: column;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.532);
    width:100%; 
    gap:30px;  
}
.navbar{
    background-color: rgba(31, 39, 48, 0.453);
    width:100%;
    display: flex;
   align-items: center;
   justify-content: space-between;
   height: 80px;
   color:rgb(125, 125, 125);
   box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}
.nav1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin-left: 2%;
}
.nav2{
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 4%;
}
.nav1 h1{
    font-size: 28px;
   color:rgb(248, 130, 59);
}
.nav1 i{
    font-size: 28px;
    
   color: rgb(248, 130, 59);
}
.nav2 button{
    padding: 10px;
    cursor: pointer;
    background-image: linear-gradient(rgb(255, 162, 56),rgb(237, 84, 63));
    color: white;
    outline: none;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 700;
}
.main-page{
    /* border:2px solid red; */
    max-width: 1200px;
    width:100%;
    margin-top: 30px;
    padding-left: 2%;
    padding-right: 2%;
}
.main-page h1{
    text-align: center;
    color:white;
    text-transform: capitalize;
    font-size: 25px;
}
.mainpage1{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* border:2px solid pink; */
    gap:40px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.card{
    width:320px;
    height:410px;
    background-color: rgba(0, 0, 0, 0.122);
    /* color:black; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:40px;
     /* padding-left:5%;
     padding-right:2%; */
    border-radius: 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    transition:all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    
}
.card1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.card1 h5{
    /* color:rgb(248, 130, 59); */
    /* color:rgb(248, 130, 59); */
    color:white;
    font-size: 20px;
    text-transform: uppercase;
}
.card:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.h5{
    margin-left: 4%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap:2px;
}
.h5 p{
    font-size: 15px;
    color:rgb(248, 130, 59);
}
.price{
     background-image:linear-gradient(rgb(255, 162, 56),rgb(237, 84, 63));; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    padding: 10px;
    width:85px;
    border-radius: 5px;
    position: absolute;
    left:78%; 
}
.price p{
    font-weight: 500;
}
.card2{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color:white;
    gap:15px;
}
.name p{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}
.i{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:18px;
    color:rgb(255, 162, 56);
    /* color:white; */
    font-size: 20px;
    align-items: center;
}
.card3{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.card3 button{
    width:120px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    color:white;
    font-weight: 500;
    cursor: pointer;
    background-image: linear-gradient(rgb(255, 162, 56),rgb(237, 84, 63));
}
.name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* color:rgb(125, 125, 125); */
    color:white;
    gap:15px;
}
.name p{
    font-size: 16px;
    text-transform: capitalize;
}
/* @media(max-width:1090px){
    .background{
        height: 150vh;
    }
    .background-blur{
        height: 150vh;
    }
}
@media(max-width:716px){
    .background{
        height: 220vh;
    }
    .background-blur{
        height: 220vh;
    }
} */
@media(max-width:439px){
     .nav1 h1{
        font-size: 20px;}
    .nav2 button{
        font-size: 15px;
    }
}